body {
  padding: 0;
  margin: 0;
  background-color: #dce1de;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.converter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
p {
    margin-top: 3px;

    font-size: 15px;
}
input {
  margin-bottom: 10px;
  border-radius: 5px;
  height: 2rem;
  width: 10rem;
}

button {
  height: 2rem;
  width: 10rem;
  border-radius: 13px;
  background-color: chartreuse;

}

button:hover {
    background-color: rgb(106, 162, 51);
}
