body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  font-family: sans-serif;
}

.car {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}
h2 {
    margin-bottom: 1px;
    padding-left: 20px;
    padding-right: 20px;

}
.car-details {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    border: 2px solid black;
    margin-top: 5px;
    padding-bottom: 10px;
}