#countdown div {
  background-color: grey;
  width: 25%;
}

img {
  height: 25%;
  width: 25%;
}

#countdown div h2 {
  text-align: center;
  padding: 90px;
  font-size: 90px;
}

.hidden {
  display: none;
}
