body {
  padding: 0;
  margin: 0;
  background-color: #f8fcfe;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#countdown {
    font-size: 80px;
    margin-top: 12rem;
    text-align: center;
    color: chartreuse;
  }
  .hidden {
    display: none;
  }
  
img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30rem;
    margin-top: 6rem;
}